body {
    
}

h1 {
    padding: 15vw;
    background-image: url(../images/bg-l.jpg);
    background-size: cover;
    color: white;
}

@media screen and (min-width: 1px) and (max-width: 800px) {
    h1 {
        background-image: url(../images/bg-s.jpg);
        background-size: cover;
        color: white;
    }
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    h1 {
        background-image: url(../images/bg-m.jpg);
        background-size: cover;
        color: white;
    }
    body {
        background-color: red;
    }
}

@media screen and (min-width: 1201px) {
    h1 {
        background-image: url(../images/bg-l.jpg);
        background-size: cover;
        color: white;
    }
    body {
        background-color: green;
    }
}